@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap");
.font-sans {
  font-family: "Montserrat", sans-serif; }

.font-Lato {
  font-family: "Lato", sans-serif; }

.card1 {
  background: url(../assets/CourseSection/Courses/Estrategia.jpg);
  height: 300px;
  background-repeat: no-repeat; }

.card2 {
  background: url(../assets/CourseSection/Courses/Development.jpg);
  height: 300px;
  background-repeat: no-repeat; }

.card3 {
  background: url(../assets/CourseSection/Courses/Emprend.jpg);
  height: 300px;
  background-repeat: no-repeat; }

.card4 {
  background: url(../assets/CourseSection/Courses/UX.jpg);
  height: 300px;
  background-repeat: no-repeat; }

.card5 {
  background: url(../assets/CourseSection/Courses/Emprend2.jpg);
  height: 300px;
  background-repeat: no-repeat; }

.w-card {
  width: 45%; }

.border-purple {
  border-color: #481AE7; }

.bg-lile {
  background-color: #481AE7; }

.m-1 {
  margin-left: 700px; }

.text-purple {
  color: #481AE7; }

.font-Hind {
  font-family: "Hind", sans-serif; }

.transition {
  transition: 0.3s all; }
