@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");
.banner {
  background: url(../assets/PartnerSection/Hero/Banner.png);
  background-size: cover; }

.transitions {
  transition: 0.3s; }

.font-Lato {
  font-family: Lato sans-serif; }

.font-Hind {
  font-family: "Hind", sans-serif; }
